# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# IDE / editor files
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/
